*{
    margin: 0%;
    padding: 0% ;
}

ul{
    background-color: orange;
    height: 100px;
    margin-top: fixed;
}

img{
    display: inline-block;
    height:100px;
    position: relative;
    top:0px;
    width: 150px;
}

.li1{
    display: inline-block;
    margin: 50px ;
    margin-right:60px;
    color: black;
    position: relative;
     bottom: 40px;
     left: 60px;
}

.container{
    display: inline-block;
    /* background-color: red; */
    border: 2px solid green;
    height: 60vh;
    width: 50vw;
    margin-top: 40px;
    margin-left: 350px; 
    position: relative;
}


